---
import { Content } from "../components/common.md";
import Layout from "../layouts/Layout.astro";
import DemoCode from "../components/DemoCode.astro";
import { Demo1Cp } from "../components/Demo1/Index";
---

<Layout title={"ts-whammy - Upload images to video"}>
  <Content />
  <h3>Useage</h3>
  <h4>Upload images to video</h4>
  <DemoCode
    sourceCodeUrl="components/Demo1/Index.tsx"
  >
    <Demo1Cp slot="demo" client:visible />
  </DemoCode>
</Layout>
