---
import 'github-markdown-css/github-markdown-light.css'

export interface Props {
	title?: string;
	content?: {
		title?: string;
	};
}

const { content, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{content?.title || title || ''}</title>
	</head>
	<body>
		<div style="padding: 16px 32px 32px 32px">
			<div class="markdown-body">
				<slot />
			</div>
		</div>
	</body>
</html>

<style is:global>
body {
	margin: 0;
}
.markdown-body .highlight pre, .markdown-body pre {
	background-color: #f6f8fa !important;
}
</style>